<div class="page-container">
  <header>
    <div>
      <button mat-button class="menu-button" (click)="sidenav.toggle()">
        <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
      </button>

      <a routerLink="/">
        <span class="app-title">Nutrition Info App</span>
      </a>
    </div>
  </header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav" (click)="onSidenavClick()">
      <a mat-button routerLink="/products">Product Details</a>
      <a mat-button routerLink="/benchtest">Bench Test</a>
      <a mat-button routerLink="/nutinfo">Nutrition Info</a>
      <a mat-button routerLink="/shortnut">Short Nutrition</a>
      <a mat-button routerLink="/reports">Reports</a>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

