<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <ng-container matColumnDef="r">
    <th mat-header-cell *matHeaderCellDef> R# </th>
    <td mat-cell *matCellDef="let element"> {{element.r}} </td>
  </ng-container>


  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>


  <ng-container matColumnDef="contractManufacturer">
    <th mat-header-cell *matHeaderCellDef> Contract Manufacturer </th>
    <td mat-cell *matCellDef="let element"> {{element.contractManufacturer}} </td>
  </ng-container>

  <ng-container matColumnDef="manufacturer">
    <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
    <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
  </ng-container>

  <ng-container matColumnDef="calories">
    <th mat-header-cell *matHeaderCellDef> Calories </th>
    <td mat-cell *matCellDef="let element"> {{element.calories}} </td>
  </ng-container>

  <ng-container matColumnDef="proteins">
    <th mat-header-cell *matHeaderCellDef> Proteins </th>
    <td mat-cell *matCellDef="let element"> {{element.proteins}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
